.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.kollane {
  color: rgba(221, 221, 42, 0.87);
}

.roheline {
  color: rgb(3, 71, 3);
}

.aktiivne-Keel {
  text-decoration: underline;
  background-color: darkgray;
}

.aktiivne-url {
  font-size: 25px;
}

.dark-mode{
  background-color: black;
  height: 100vh;
  color: white;
  /* vh --- view height */
  /* tähendab mitu protsenti lehe vaate kõrgusest
  on tema enda kõrgus */
}

.dark-mode button {
  border: 2px solid blue;
}

.light-mode{
  background-color: yellow;
  height: 100vh;
}